<a href="https://colab.research.google.com/github/kunalsevak24/Python-Data-Analysis-/blob/main/Kunal_Sevak_Assignment_3_PROG_8510.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment 3

Prog 8510 : Programming Statistics for Business

* Student Name : Kunal Sevak
* Student ID : 8817782

**Question** : Using the tips dataset and relevant python library construct a ML model with tip as the target variable and all other numerical variables as predictors.

In [1]:
pip install dmba

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dmba
  Downloading dmba-0.1.0-py3-none-any.whl (11.8 MB)
     |████████████████████████████████| 11.8 MB 8.3 MB/s
Installing collected packages: dmba
Successfully installed dmba-0.1.0

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from dmba import regressionSummary

no display found. Using non-interactive Agg backend

In [3]:
tips = sns.load_dataset('tips')
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

----------------------------------

In [4]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [5]:
X = tips[['total_bill', 'size']]
y = tips[['tip']]

> ## You can use sklearn **or** any other appropiate library to answer the following questions

### 1. Split the datasets into training and testing datasets using appropiate function from sklearn library

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state=120)

#https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

### 2. Build Machine Learning linear regression and Decision Tree Regression model

In [7]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

DecisionTreeRegressor()

In [8]:
regressionSummary(y_test, dt.predict(X_test))

Regression statistics

                      Mean Error (ME) : -0.1251
       Root Mean Squared Error (RMSE) : 1.4694
            Mean Absolute Error (MAE) : 1.0922
          Mean Percentage Error (MPE) : -16.8387
Mean Absolute Percentage Error (MAPE) : 44.6340

In [9]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [10]:
regressionSummary(y_test, lr.predict(X_test))

Regression statistics

                      Mean Error (ME) : 0.1109
       Root Mean Squared Error (RMSE) : 0.9897
            Mean Absolute Error (MAE) : 0.7301
          Mean Percentage Error (MPE) : -6.3910
Mean Absolute Percentage Error (MAPE) : 27.7776

### 3. Add the predicted values as a column in the dataset using Regression and Decision Tree regression model

In [11]:
tips['Tip Predicted Linear Model '],tips['Tip Predicted Decision Tree'] = lr.predict(X),dt.predict(X)
tips.tail(10)

,total_bill,tip,sex,smoker,day,time,size,Tip Predicted Linear Model,Tip Predicted Decision Tree
234,15.53,3.00,Male,Yes,Sat,Dinner,2,2.454056,3.00
235,10.07,1.25,Male,No,Sat,Dinner,2,1.916582,1.25
236,12.60,1.00,Male,Yes,Sat,Dinner,2,2.165631,1.00
237,32.83,1.17,Male,Yes,Sat,Dinner,2,4.157041,3.11
238,35.83,4.67,Female,No,Sat,Dinner,3,4.613240,4.67
239,29.03,5.92,Male,No,Sat,Dinner,3,3.943859,5.92
240,27.18,2.00,Female,Yes,Sat,Dinner,2,3.600864,2.00
241,22.67,2.00,Male,Yes,Sat,Dinner,2,3.156907,2.00
242,17.82,1.75,Male,No,Sat,Dinner,2,2.679480,2.34
243,18.78,3.00,Female,No,Thur,Dinner,2,2.773981,3.00

### 4. Evaluate the model results for both the models using the training and testing both datasets and comment on its accuracy

In [13]:
print('1. Linear Regression model:')
print(f'\t Train dataset Accuracy: {round(lr.score(X_train,y_train),4)*100}%')
print(f'\t Test dataset Accuracy: {round(lr.score(X_test,y_test),4)*100}%')
print('2. Decision Tree model:')
print(f'\t Train dataset Accuracy: {round(dt.score(X_train,y_train),4)*100}%')
print(f'\t Test dataset Accuracy: {round(dt.score(X_test,y_test),4)*100}%')

1. Linear Regression model:
	 Train dataset Accuracy: 49.72%
	 Test dataset Accuracy: 37.14%
2. Decision Tree model:
	 Train dataset Accuracy: 99.97%
	 Test dataset Accuracy: -38.56%

### 5. Evaluate the performance of both the models using the validation dataset and comment on the accuracy of each model. Which model performed better on the validation set ? Linear Regression or Decision Tree ?

In [14]:
from sklearn.model_selection import cross_val_score
lr_scores = cross_val_score(lr, X, y, cv=6)
dt_scores = cross_val_score(dt, X, y, cv=6)
print(lr_scores)
print(dt_scores)

[0.56892012 0.58896954 0.39199974 0.62362556 0.22656691 0.37988466]
[-0.40950482  0.02507345 -0.52269358  0.46865328 -0.03310381 -0.11074316]

In [15]:
print(f'Linear Regression average score/accuracy %0.2f%%:'%(np.abs(lr_scores).mean()*100))
print(f'Decision Tree average score/accuracy %0.2f%%:'%(np.abs(dt_scores).mean()*100))

Linear Regression average score/accuracy 46.33%:
Decision Tree average score/accuracy 26.16%: